body {
  height: 100%;
  min-width: 400px;
  margin: 0;
  padding: 0;
}
.icons {
  width: 40px;
}

#profile {
  padding-left: 10px;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
  float: right;
}

.header {
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
  padding-right: 15px;
  color: black;
  text-decoration: none;
}

#google-logo {
  display:block;
  margin-top: 110px;
  margin-left:auto;
  margin-right:auto;
}

.border {
  display: block;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  width: 582px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.input {
  display: flex;
  width: 510px;
  height: 34px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: arial,sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.bottom {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-top: 303px;
  border-top: 1px solid #dadce0;
  background-color: #F2F2F2;
}

.footer {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.f {
  color: #70757a;
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: arial,sans-serif;
}